@tailwind base;
  @tailwind components;
  @tailwind utilities;




  @layer base {
    :root {
      --background: 40 31% 99%;
      --foreground: 40 56% 3%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5% 44%;
      --accent: 60 4.8% 90.9%;
      --accent-foreground: 24 9.8% 10%;
      --popover: 40 31% 99%;
      --popover-foreground: 40 56% 3%;
      --card: 40 31% 99%;
      --card-foreground: 40 56% 3%;
      --border: 40 2% 91%;
      --input: 40 2% 91%;
      --primary: 135 54% 63%;
      --primary-foreground: 0 0% 94%;
      --secondary: 237 95% 16%;
      --secondary-foreground: 237 95% 16%;
      --destructive: 22 88% 28%;
      --destructive-foreground: 22 88% 88%;
      --ring: 135 54% 63%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 40 31% 99%;
      --foreground: 40 56% 3%;
      --muted: 60 4.8% 95.9%;
      --muted-foreground: 25 5% 44%;
      --accent: 60 4.8% 90.9%;
      --accent-foreground: 24 9.8% 10%;
      --popover: 40 31% 99%;
      --popover-foreground: 40 56% 3%;
      --card: 40 31% 99%;
      --card-foreground: 40 56% 3%;
      --border: 40 2% 91%;
      --input: 40 2% 91%;
      --primary: 135 54% 63%;
      --primary-foreground: 0 0% 94%;
      --secondary: 237 95% 16%;
      --secondary-foreground: 237 95% 16%;
      --destructive: 22 88% 28%;
      --destructive-foreground: 22 88% 88%;
      --ring: 135 54% 63%;
      --radius: 0.5rem;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
    .sidebar {
      transition: width 0.3s ease;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .sidebar-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.5rem;
      transition: padding 0.3s ease;
    }
    
    .sidebar-icon {
      transition: margin 0.3s ease, opacity 0.3s ease;
    }
    
    .sidebar-text {
      transition: opacity 0.3s ease;
      opacity: 0;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .sidebar-open .sidebar-text {
      opacity: 1;
    }
  }